.empty-image {
	&__content {
		height: 100%;
		width: 100%;

		display: flex;

		gap: 20px;
		align-items: center;
		justify-content: center;

		font-family: var(--font-family), sans-serif;

		font-size: 34px;

		& > svg {
			font-size: 100px;
		}
	}
}