.header{
	margin: auto;
	max-width: 1200px;

	background: #1D663B;

	display: flex;

	padding: 15px 30px;
	border-radius: 0 0 24px 24px;

	&__logo{

	}

	&__title_container{
		flex-grow: 1;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		color: #FFFFFF;
	}
}