.sdxl {
	max-width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	height: 100vh;

	padding: 50px;

	&__input {
		display: flex;
		flex-direction: column;

		gap: 10px;
	}

	&__result {
		margin-bottom: 20px;
		flex-grow: 1;
	}
}